@fixed-max-width: 1170px;
@img-path: 'img/';
@sprite: 'img/sprite.png';
/*@accent-font-family: "PF DinDisplay Pro Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
@heavy-font-family: "LatoWebHeavy", "LatoWebBlack", @font-family-sans-serif;

@import "./fonts/Lato/latofonts.css";
@import "./bootstrap/less/bootstrap.less";

/* dev */
/*html {
  height: 100%;
}*/
body {
  //height: 100%;
  position: relative;
/*  &::after {
    content: "";
    background: url('@{img-path}design.jpg') no-repeat; // fixed;
    background-size: auto;
    background-position-x: center;
    background-position-y: 0;
    opacity: 0.4;
    top: 0px;
    left: 0px;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }*/
}
* {
  transition: all 0.2s ease-in-out 0s;
}

/* typografy */
h1, h2, h3 {
  .text-uppercase;
}
strong, b {
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
}
ul {
  .list-unstyled;
  color: @gray;
  li {
    padding-left: 11px;
    position: relative;
    &::before {
      content: '\2022';
      position: absolute;
      left: 0;
    }
  }
}
.list-unstyled {
  li {
    padding-left: 0;
    &::before {
      content: none;
    }
  }
}
section {
  margin-bottom: 50px;
}
/*
em, i {
  font-family: @italic-font-family;
}*/
.gray-link {
  color: lighten(@link-color, 30%);
  &:hover {
    color: lighten(@link-color, 30%);    
  }
}
.green-link {
  color: @brand-success;
  &:hover {
    color: @brand-success;    
  }
}
.cite-left, .cite-right, .cite-big {
  font-family: @headings-font-family;
  font-style: italic;  
}
.cite-left, .cite-right {
  font-size: 24px;
  line-height: 28px;
  padding: 12px 22px;
}
.cite-left {
  border-left: 2px solid;
}
.cite-right {
  border-right: 2px solid;
  text-align: right;
}
.cite-big {
  font-size: 30px;
  line-height: 35px;
  padding: 24px 0 41px 28px;
  border-bottom: 2px solid #d3d4d8;
  position: relative;
  &::before {
    content: '—';
    position: absolute;
    left: 0;
  }
}
.btn {
  font-family: "LatoWebHeavy", @headings-font-family;
  font-size: 10px;
  .text-uppercase;
}
.pagination {
  .list-inline;
  text-align: center;
  margin: 0 0 50px;
  padding: 0;
  font-size: 15px;
  li {
    padding: 5px 8px 3px;
    border-radius: 3px;
    margin: 0 9.5px;
    &.active {
      color: @body-bg;
      background-color: @brand-primary;
    }
    a {
      display: inline-block;
    }
  }
}
/* text with columns */
@media (min-width: @screen-sm) {
  .text-two-columns {
    -moz-columns: 2;
    -webkit-columns: 2;
    columns: 2;
    -moz-column-gap: @grid-gutter-width * 3;
    -webkit-column-gap: @grid-gutter-width * 3;
    column-gap: @grid-gutter-width * 3;
    p, li {
      -moz-column-break-inside: avoid;
      -webkit-column-break-inside: avoid;
      column-break-inside: avoid;
    }
  }
}
form.well-form {
  .well;
  input {
    .form-control;
  }
}
/* tabs */
.tabs {
  .nav; .nav-tabs;
}

.banner {
  display: block;
  margin-bottom: 50px;
}

/* grid */
/* fixed max width */
.container-fluid {
  max-width: @fixed-max-width;
}
.column-wrapper {
  .row;
  display: flex;
  .left-column {
    width: 280px;
    padding-right: 50px;
  }
  .right-column {
    flex: 1;
  }
}
@header-height: 100px;
header {
  .column-wrapper .left-column {
    padding-right: 0;
    a {
      display: table-cell;
      height: @header-height;
      vertical-align: middle;
      img {
        .img-responsive;
      }
    }
  }
  menu {
    display: table-cell;
    width: 100%;
    height: @header-height;
    .list-inline;
    vertical-align: middle;
    text-align: center;
    li {
      padding: 0 16px;
      a {
        .gray-link;        
      }
    }
  }
  .header-phone {
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    font-family: @headings-font-family;
    font-size: 20px;
    padding-right: 18px;
    padding-top: 6px;
    span {
      font-size: 12px;
    }
  }
  .header-callback {
    display: table-cell;
    vertical-align: middle;
    button {
      width: 137px;
    }
  }
}

@searchbar-height: 50px;
.searchbar {
  height: @searchbar-height;
  background-color: @brand-primary;
  .left-column {
    display: table;
    .searchbar-catalog {
      .btn; .btn-danger;
      border-radius: 0;
      height: @searchbar-height;
      font-size: 14px;
      vertical-align: middle;
      display: table-cell;
      position: relative;
      text-align: left;
      padding-left: 28px;
      &::after {
        content: '';
        position: absolute;
        width: 12px;
        height: 7px;
        right: 24px;
        top: 20px;
        background: url('@{sprite}') 0 -70px no-repeat;
      }
    }
  }
  .right-column {
    > * {
      display: table-cell;
      height: @searchbar-height;
      vertical-align: middle;
      /*border: 1px solid red;*/
    }
  }
  .searchbar-form {
    width: 100%;
    form {
      position: relative;      
    }
    input {
      .form-control;
      &:focus, &:active {
        border-color: @input-border;
      }
    }
    button {
      .btn; .btn-danger;
      position: absolute;
      right: 0;
      top: 0;
      width: 100px;
      border-radius: 0 @border-radius-base @border-radius-base 0;
    }
  }
  .minicart {
    a {
      display: table-cell;
      vertical-align: middle;
      height: @searchbar-height;
      color: @body-bg;
      white-space: nowrap;
      position: relative;
      font-size: 10px;
      padding: 0 20px 0 53px;
      &:hover {
        background-color: #1d2233;
      }
      &::before {
        content: '';
        position: absolute;
        left: 20px;
        width: 18px;
        height: 18px;
        background: url('@{sprite}') 0 -50px no-repeat;
      }
      span {
        position: absolute;
        background-color: @brand-danger;
        left: 29px;
        bottom: 8px;
        border-radius: 9px;
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        font-size: 12px;
        font-family: @headings-font-family;
      }
    }
  }
  .user {
    position: relative;
    .userinfo {
      width: 160px;
      padding: 0 20px;
      color: @body-bg;
      font-size: 12px;
      > * {
        display: inline-block;
      }
      img {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        margin-right: 4px;
      }
      div {
        width: 82px;
        white-space: nowrap;
        line-height: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        span {
          color: #ebeff0;
          font-size: 10px;
        }
      }
    }
    ul {
      .list-unstyled;
      display: none;
      position: absolute;
      top: @searchbar-height;
      width: 100%;
      padding: 10px 20px;
      border: 2px solid #ebeff0;
      background-color: @body-bg;
      line-height: 24px;
      a {
        .gray-link;
      }
    }
    &:hover {
      background-color: #1d2233;
      ul {
        display: block;
      }
    }
  }
  .logout {
    a {
      display: block;
      width: 36px;
      height: 100%;
      .hide-text;
      color: @body-bg;
      position: relative;
      &:hover {
        background-color: #1d2233;
      }
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 17px;
        width: 16px;
        height: 16px;
        background: url('@{sprite}') 0 -32px no-repeat;
      }
    }
  }
}

main {
  .container-fluid;
    margin-bottom: 30px;
  .breadcrumb {
    .row;
    height: 67px;
    font-family: @headings-font-family;
    font-size: 10px;
    .text-uppercase;
    margin-bottom: 0;
  }
  .page-header {
    height: 65px;
  }
}
footer {
  .footer-one {
    background-color: @brand-primary;
    color: #c4c8cb;
    min-height: 240px;
    .container-fluid {
      padding: 50px 0 0 0;
      .footer-one-wrapper {
        > * {
          display: inline-block;
          vertical-align: top;
          text-align: left;
        }
        text-align: justify;
        &::after {
          content: '';
          display: inline-block;
          width: 100%;
        }
      }
      h3 {
        margin-bottom: 12px;
        color: @body-bg;
      }
      a {
        color: inherit;
      }
      .footer-about {
        max-width: 335px;
        padding-right: 100px;
        line-height: 17px;
        a {
          display: block;
          width: 170px;
          margin-bottom: 18px;
          img {
            .img-responsive;
          }
        }
      }
      .footer-contacts {
        padding-right: 50px;
        p {
          line-height: 22px;
        }
      }
      .footer-menu {
        padding-right: 50px;
        menu {
          .list-unstyled;
          margin: 0;
          line-height: 24px;
          -moz-columns: 2;
          -webkit-columns: 2;
          columns: 2;
          -moz-column-gap: 50px;
          -webkit-column-gap: 50px;
          column-gap: 50px;
          li {
            -moz-column-break-inside: avoid;
            -webkit-column-break-inside: avoid;
            column-break-inside: avoid;
          }
        }
      }
      .footer-payments {
        width: 270px;
        h3 {
          margin-bottom: 16px;
        }
        ul {
          .list-inline;
          .hide-text;
          li {
            width: 50px;
            height: 30px;
            border-radius: @border-radius-base;
            background: @body-bg url('@{img-path}payments.png') no-repeat;
            margin: 0 0 5px 5px;
            &.visa { background-position: 0 0; }
            &.mc { background-position: 0 -30px; }
            &.wm { background-position: 0 -60px; }
            &.qiwi { background-position: 0 -90px; }
            &.ym { background-position: 0 -120px; }
            &.alfa { background-position: 0 -150px; }
            &.sber { background-position: 0 -180px; }
            &.pp { background-position: 0 -210px; }
            &.maestro { background-position: 0 -240px; }
            &.cirrus { background-position: 0 -270px; }
          }
          margin-bottom: 40px;
        }
        .footer-madein {
          text-align: right;
          font-size: 10px;
          font-weight: bold;
        }
      }
    }
  }
  .footer-two {
    background-color: #1d2233;
    color: @body-bg;
    a {
      color: inherit;
    }
    .container-fluid {
      padding: 0;
      p {
        display: table-cell;
        height: 80px;
        vertical-align: middle;
        white-space: nowrap;
      }
      menu {
        .list-inline;
        display: table-cell;
        width: 100%;
        vertical-align: middle;
        text-align: right;
        margin: 0;
        li {
          padding: 0 0 0 30px;
        }
      }
    }
  }
}

span.icon {
  font-size: 12px;
  padding-left: 20px;
  position: relative;
  margin-right: 11px;
  &::before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    background: url('@{sprite}') no-repeat;
    width: 16px;
    height: 16px;
  }
  &.favorites-count::before {
    background-position: 0 0;
  }
  &.myfavorite::before {
    background-position: -16px 0;
  }
  &.comments-count::before {
    background-position: 0 -16px;
  }
}
a.icon {
  .hide-text;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin: 0 5px;
  background: url('@{sprite}') no-repeat;
  &.compare {
    background-position: 0 -80px;
    &.active {
      background-position: -18px -80px;
    }
  }
  &.favorite {
    background-position: 0 -104px;
    &.active {
      background-position: -18px -104px;
    }
  }
}

/* основное меню в левой колонке */
.aside-menu {
  .list-unstyled;
  margin: 0 0 50px;
  > li {
    > a {
      display: block;
      font-family: @headings-font-family;
      line-height: 15px;
      .text-uppercase;
      padding: 30px 5px 10px;
      border-bottom: 1px solid #d3d4d8;
      &:hover, &:focus {
        text-decoration: none;
      }
      position: relative;
      &::after {
        content: '';
        position: absolute;
        right: 6px;
        bottom: 16px;
        width: 11px;
        height: 6px;
        background: url('@{sprite}') -13px -70px no-repeat;
      }
      &.opened::after {
        background-position: -25px -70px;
      }
    }    
    &:first-child > a {
      padding-top: 0;
    }
    > ul {
      display: none;
      .list-unstyled;
      margin: 10px 0 0;
      transition: initial;
      a {
        display: block;
        padding: 6px;
        &:hover, &:focus {
          text-decoration: none;
          background-color: @brand-primary;
          color: white;
          padding-left: 16px;
        }
      }
    }
  }
}

/* news */
.news-list {
  .news-item {
    .clearfix;
    margin-bottom: 50px;
    .news-item-image {
      float: left;
      width: 259px;
      height: 200px;
      img {
        .img-responsive;
      }
    }
    .news-item-content {
      padding: 20px 0 0 289px;
      h3 {
        font-family: "LatoWebHeavy", @headings-font-family;
        margin-bottom: 13px;
        line-height: 17px;
      }
      p {
        color: @gray;
        line-height: 17px;
        margin-bottom: 15px;
      }
      .btn {
        width: 126px;
        margin-right: 15px;
      }
    }
  }
}

/* goods */
.cost {
  color: #41b492;
  font-size: 16px;
  font-family: @headings-font-family;
  padding-right: 5px;
}
.cost-old {
  text-decoration: line-through;
}
.discount {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: @brand-danger;
  color: @body-bg;
  font-family: @heavy-font-family;
  line-height: 50px;
  text-align: center;
}
.goods {
  display: flex;
  margin-bottom: 33px;
  .goods-gallery {
    max-width: 420px;
    margin-right: 50px;
    ul {
      .list-unstyled;
    }
  }
  .goods-info {
    position: relative;
    h1 {
      margin-top: 40px;
      margin-bottom: 22px;
    }
    p {
      line-height: 17px;
      color: @gray;
      strong {
        font-weight: normal;
        color: initial;
        font-family: @font-family-base;
      }
      &.price {
        margin-bottom: 25px;
      }
      .cost {
        font-size: 20px;
      }
    }
    button {
      width: auto;
      margin-right: 5px;
    }
  }
}
.goods-tabs {
  > div {
    padding: 40px 0 0 6px;
  }
  #info, #video {
    > div {
      > .content {
        display: inline-block;
        width: 100%; // иначе iframe на видео косячит
        max-width: 640px;
        vertical-align: top;
        padding-right: 50px;
        color: @gray;
      }
      > .options {
        display: inline-block;
        max-width: 240px;
        vertical-align: top;
        .more-video {
          img {
            .img-responsive;
            margin-bottom: 10px;
          }
          p {
            margin-bottom: 30px;
          }
        }
      }
      line-height: 17px;
    }
  }
}
.related-goods {
  h2 {
    margin-bottom: 50px;
  }
}
.goods-list-grid {
  display: flex;
  align-items: stretch;
  .goods-list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    text-align: center;
    h3 {
      margin: 20px 0 10px;
    }
    .content {
      flex: 1;
    }
    .footer {
      > * {
        display: inline-block;
        vertical-align: middle;
      }
      form {
        width: 100px;
      }
      div {
        width: 85px;
      }
    }
    .discount {
      top: -10px;
      right: 6px;
    }
  }
}